* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0px;
    width: 100%;
    height: 100%;
}
body {
    background-color: #f1f1f1;
    display: flex;
}

.wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    background-color: black;
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    display: flexbox;
    border: 5px solid red;
    border-right: 0px;
    border-radius: 20px;
    width: 15%;
    background-color: rgb(136, 49, 49);
    text-align: center;
}
.header {
    border-color: #d00;
    border-width: 5px;
    border-radius: 20px;
    border-style: solid;
    background-color:white;
    height: 110px;
    text-align: center;
    
}
.content {
    border: 5px solid red;
    border-top: 0px;
    border-radius: 20px;
    height: 1100px;
    background-color: black;

}
.footer {
    background-color: white;
    min-height:110px;
    border: 5px solid red;
    border-top: 0px;
    border-radius: 20px;
    }

[href] {
    color: white;
}

.botao {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    color: black;
    background-color: silver;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s;
}

.botao:hover {
    background-color: rgb(218, 6, 6);
}

.video{
    border-radius: 40px;
    border: 5px solid white;
    display: block;
    margin: 0 auto;
    text-align: center;
    height: 75vh; 
}

.menu img{
    width:230px; ;
    border-radius: 20px;
    max-width: 95%;
}

.footer img {
    margin-left: 30px;
}

.footer p{
    margin-left: 30px;
}

.contentQuemSomos{
    background-color: antiquewhite;
    font-family: cursive;
    height: 1100px;
    border: 5px solid red;
    border-top: 0px;
    border-radius: 20px;
}

.contentQuemSomos{
    text-align: center;
}
